*.pt filter=lfs diff=lfs merge=lfs -text
git lfs track "*.pt"
git lfs track "*.pth" 
git lfs track "*.h5"
git lfs track "*.pkl"
git lfs track "*.zip"
git lfs track "*.tar.gz"
git lfs track "*.jpg"
git lfs track "*.png"
git lfs track "*.jpeg"